/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-text-color: #353430;
  --page-bg-color: #fff1f7;
  --page-font-family: "IBM Plex mono";
  --page-font-size: 18px;
  --header-title-color: #ffc2e6;
  --menu-text-color: #353430;
  --section-title-color: #353430;
  --subtitle-text-color: #353430;
  --subtitle-bg-color: #ff8dcb;
  --main-font-family: "IBM Plex mono";
  --main-font-weight: 400;
  --heading-font-family: "IBM Plex mono";
  --heading-font-weight: 700;
  --section-gap: 20px;

  background-image: url("../images/cover-image-light.png");
}

.page.theme_light .header__record {
  display: none;
}
